<!DOCTYPE html>
<html lang="en">
<head>
    <title>Etec Informa</title>
    {{>headNoTitle}}
</head>
<body>
    {{>topbar}}
    {{>nav}}
    <!-- conteudo Start -->
    <br><br>
        <div class="container">
        <div class="row">
            {{#each noticias}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{this.imagem}}" alt="Imagem da Notícia">
                    <div class="card-body">
                        <h5 class="card-title">{{this.titulo}}</h5>
                        <p class="card-text">{{this.sub-titulo}}</p>
                        <a href="/noticia/{{this.id}}" class="btn btn-primary">Saber mais</a>
                    </div>
                    <div class="card-footer text-muted">
                        Publicado em {{this.data}} por {{this.autor}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- conteudo End -->

    {{>footer}}

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>
    
    {{>scripts}}
</body>
</html>

